.notification {
  color: #ee7c35;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  max-width: 10%;
}

.error-notification {
  color: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  max-width: 10%;
}